/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #222; color:#fff; text-shadow: none; }
::selection { background:#222; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #222; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


.posts ul,ul.posts{list-style-type:none;margin-bottom:2em;}
.posts ul li,ul.posts li{line-height:1.75em;}
.posts span,ul.posts span{color:#aaa;font-family:Monaco,"Courier New",monospace;font-size:80%;}
.site{font-size:110%;text-align:justify;width:40em;margin:3em auto 2em auto;line-height:1.5em;}
.title{color:#a00;font-weight:bold;margin-bottom:2em;}
.site a {text-decoration: none;}
.site a:hover {text-decoration: underline; color: #222;}
.site p {margin: 1em 0;}
.site .title a{color:#555;text-decoration:none;}
.site .title a:hover{color:#AAA;}
.site .title a.extra{color:#aaa;text-decoration:none;margin-left:1em;}
.site .title a.extra:hover{color:black;}
.site .meta{color:#aaa;}
.site .footer{font-size: 80%;color:#666;border-top:4px solid #eee;margin-top:2em;overflow:hidden;}
.site .footer .contact{float:left;margin-right:3em;}
.site .footer .contact a{color:#8085C1;}
.site .footer .rss{margin-top:1.1em;margin-right:-.2em;float:right;}
.site .footer .rss img{border:0;}
.site img{max-width:100%;height:auto; border: 2em solid #eee;border: 3px solid #DDD;}
.site a {  
     -moz-transition: color 0.3s ease-out;  
       -o-transition: color 0.3s ease-out;  
  -webkit-transition: color 0.3s ease-out;  
      -ms-transition: color 0.3s ease-out;  
          transition: color 0.3s ease-out;
}
/* standard */

pre{margin:1em 0 1em 1em;font-size:12px;background-color:#eee;border:1px solid #ddd;padding:5px;line-height:1.5em;color:#444;overflow:auto;-moz-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;/* FF3.5+ */
-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;/* Saf3.0+,Chrome */
box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;/* Opera 10.5,IE9,Chrome 10+ */
-moz-border-radius:3px;/* FF1+ */
-webkit-border-radius:3px;/* Saf3-4,iOS 1+,Android 1.5+ */
border-radius:3px;/* Opera 10.5,IE9,Saf5,Chrome,FF4 */
-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
pre::-webkit-scrollbar,.ace_editor .ace_sb::-webkit-scrollbar{height:8px;width:8px;}
pre::-webkit-scrollbar-track-piece,.ace_editor .ace_sb::-webkit-scrollbar-track-piece{margin-bottom:10px;background-color:#e5e5e5;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;}
pre::-webkit-scrollbar-thumb:vertical,.ace_editor .ace_sb::-webkit-scrollbar-thumb:vertical{height:25px;background-color:#ccc;-webkit-border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(255,255,255,1);}
pre::-webkit-scrollbar-thumb:horizontal,.ace_editor .ace_sb::-webkit-scrollbar-thumb:horizontal{width:25px;background-color:#ccc;-webkit-border-radius:4px;}
pre code{padding:0;font-size:12px;background-color:#eee;border:none;}

/* terminal */
#post pre.terminal{border:1px solid black;background-color:#333;color:white;}
#post pre.terminal code{background-color:#333;}
#related{margin-top:2em;}
#related h2{margin-bottom:1em;}



.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}