#{extends 'CRUD/layout.html' /}

<div id="crudShow" class="${type.name}">

	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@save(object._key()), enctype:'multipart/form-data'}

        <!-- Liste des prises d'une competition -->
        #{crud.form}
            #{crud.custom 'prises'}
            <div>
                <ul>
                #{list items:object.prises, as:'prise'}
                    <li>${prise.toString()}</li>
                #{/list}
                </ul>
            </div>
            #{/crud.custom}
        #{/crud.form}
        <!-- Fin Liste des prises d'une competition -->

		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		</p>

	#{/form}
	</div>
	
	#{form @delete(object._key())}
		<p class="crudDelete">
			<input type="submit" value="&{'crud.delete', type.modelName}" />
		</p>
	#{/form}

</div>